{{setTitle "Challenges"}}
<button class="mdl-cell mdl-cell--3-col back-unstarted tall-button">Unstarted</button>
<button class="mdl-cell mdl-cell--3-col back-unsolved tall-button">Unsolved</button>
<button class="mdl-cell mdl-cell--3-col back-solved tall-button">Solved</button>
<button class="mdl-cell mdl-cell--3-col tall-button">All</button>
<table class="mdl-cell mdl-data-table mdl-js-data-table mdl-cell--12-col">
    <tr>
        <th>Challenge</th>
        <th>Type</th>
        <th>Status</th>
        <th>Users</th>
    </tr>
    {{#each challenges}}
    <tr class="back-{{status}} challenge-row" data-id="{{uid}}" onclick="load_challenge('{{uid}}')">
        <td>{{name}}</td>
        <td>{{type}}</td>
        <td>{{status}}</td>
        <td>
            {{#each members}}
                <pre>{{@key}}</pre>
            {{/each}}
        </td>
    </tr>
    {{/each}}
</table>