{{setTitle "Challenges"}}
<style>
    .row-unstarted {
        background-color: lightblue;
    }
    .row-unsolved {
        background-color: indianred;
    }
    .row-solved {
        background-color: lightgreen;
    }
    button {
        height:3em;
    }
</style>
<button class="mdl-cell mdl-cell--3-col row-unstarted">Unstarted</button>
<button class="mdl-cell mdl-cell--3-col row-unsolved">Unsolved</button>
<button class="mdl-cell mdl-cell--3-col row-solved">Solved</button>
<button class="mdl-cell mdl-cell--3-col">All</button>
<table class="mdl-cell mdl-data-table mdl-js-data-table mdl-cell--12-col">
    <tr>
        <th>Challenge</th>
        <th>Type</th>
        <th>Status</th>
        <th>Users</th>
    </tr>
    {{#each challenges}}
    <tr class="row-{{status}}" onclick="load_challenge('{{uid}}')">
        <td>{{name}}</td>
        <td>{{type}}</td>
        <td>{{status}}</td>
        <td>
            {{#each members}}
                <pre>{{@key}}</pre>
            {{/each}}
        </td>
    </tr>
    {{/each}}
</table>