{{setTitle "Challenges"}}
<!--
<button class="mdl-cell mdl-cell--3-col back-unstarted tall-button">Unstarted</button>
<button class="mdl-cell mdl-cell--3-col back-unsolved tall-button">Unsolved</button>
<button class="mdl-cell mdl-cell--3-col back-solved tall-button">Solved</button>
<button class="mdl-cell mdl-cell--3-col tall-button">All</button>
-->
<table class="mdl-cell mdl-data-table mdl-js-data-table mdl-cell--12-col">
    <tr>
        <th>Challenge</th>
        <th>Type</th>
        <th>Status</th>
        <th>Users</th>
    </tr>
    {{#each challenges}}
    <tr class="back-{{status}} challenge-row" data-id="{{uid}}">
        <td>{{name}}</td>
        <td>{{type}}</td>
        <td>{{status}}</td>
        <td>
            {{#each users}}
                {{userIcon @key}}
            {{/each}}
        </td>
    </tr>
    {{/each}}
</table>


<dialog id="dialog" class="mdl-dialog">
    <h3 class="mdl-dialog__title">Upload a file</h3>
    <div class="mdl-dialog__content">
        <div class="mdl-textfield mdl-js-textfield">
            <input class="mdl-textfield__input" type="text" id="file-name">
            <label class="mdl-textfield__label" for="file-name">File name</label>
        </div>
        <input id="file-input" type="file"/>
    </div>
    <div class="mdl-dialog__actions">
        <button type="button" class="mdl-button" id="upload_close">Close</button>
        <button type="button" class="mdl-button" id="upload_upload">Upload</button>
    </div>
</dialog>

<button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored bottom-right-add">
    <i class="material-icons">add</i>
</button>