{{setTitle name}}
<div class="mdl-cell--8-col">
<h1 class="mdl-cell mdl-cell--12-col">{{challenge.name}}</h1>
<pre class="mdl-cell mdl-cell--12-col">{{challenge.description}}</pre>
</div>
<button class="mdl-cell mdl-cell--2-col mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="join">Join</button>
<button class="mdl-cell mdl-cell--2-col mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="solve">Solve</button>
<div class="mdl-grid mdl-cell mdl-cell--6-col mdl-cell--top">
<div class="mdl-cell back-{{challenge.status}} mdl-cell--12-col mdl-cell--top"><h2>Status:</h2>{{challenge.status}}</div>
<div class="mdl-cell mdl-cell--12-col mdl-cell--top"><h2>Type:</h2>{{challenge.type}}</div>
<div class="mdl-cell mdl-cell--12-col mdl-cell--top"><h2>Users:</h2>
    {{#each users}}
        <span>{{userIcon @key}}</span>
    {{/each}}
</div>
<h2 class="mdl-cell mdl-cell--12-col  mdl-cell--top">Files</h2>
<div class="files-container mdl-cell mdl-cell--12-col  mdl-cell--top mdl-grid">
{{#each files}}
<div class="demo-card-wide mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col">
    <div class="mdl-card__title plain-card-title">
        <h2 class="mdl-card__title-text">{{name}}</h2>
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{url}}">
            Download
        </a>
    </div>
</div>
{{/each}}
<div class="demo-card-wide mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col">
    <div class="mdl-card__title plain-card-title upload-card">
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" id="upload">
            Upload new file
        </a>
    </div>
</div>
</div>
</div>
<div class="mdl-grid mdl-cell mdl-cell--6-col mdl-cell--top">
    <h2 class="mdl-cell mdl-cell--12-col mdl-cell--top">Messages</h2>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--10-col mdl-cell--top">
        <textarea class="mdl-textfield__input" type="text" id="messageInput"></textarea>
        <label class="mdl-textfield__label" for="sample1">Message</label>
    </div>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-cell mdl-cell--2-col" id="send">Send</button>
    <ul class="demo-list-three mdl-list mdl-cell mdl-cell--12-col">
    {{#reverseEach messages}}
        <li class="mdl-list__item mdl-list__item--three-line">
    <span class="mdl-list__item-primary-content">
      <div class="message-icon mdl-list__item-avatar user-icon" data-id="{{user}}"></div>
      <span><span class="username-auto" data-id="{{user}}"></span>{{timeOf created}}</span>
      <span class="mdl-list__item-text-body">
          <pre class="message-pre">{{message}}</pre>
      </span>
    </span>
        </li>
    {{/reverseEach}}
    </ul>
</div>

<dialog id="dialog" class="mdl-dialog">
    <h3 class="mdl-dialog__title">MDL Dialog</h3>
    <div class="mdl-dialog__content">
        <p>
            <input id="file-name""/>
            <input id="file-input"/>
        </p>
    </div>
    <div class="mdl-dialog__actions">
        <button type="button" class="mdl-button" id="upload_close">Close</button>
        <button type="button" class="mdl-button" id="upload_upload">Upload</button>
    </div>
</dialog>