{{setTitle name}}
<div class="mdl-layout-spacer"></div>
    <div class="mdl-cell mdl-grid mdl-cell--8-col">
        <div  class="mdl-cell mdl-cell--12-col">
        <div class="mdl-layout-spacer"></div>
        <img class="mdl-cell mdl-grid mdl-cell--4-col inline-title" src="{{image}}">
        <div class="mdl-layout-spacer"></div>
        </div>
        <div class="mdl-cell mdl-cell--12-col">
            <h2 class="mdl-cell mdl-cell--6-col inline-title">Name</h2>
            <span class="mdl-cell mdl-cell--6-col">{{name}}</span>
        </div>
        <div class="mdl-cell mdl-cell--12-col">
            <h2 class="mdl-cell mdl-cell--6-col inline-title">Provider</h2>
            <span class="mdl-cell mdl-cell--6-col">{{provider}}</span>
        </div>
        <div class="mdl-cell mdl-cell--12-col">
            <h2 class="mdl-cell mdl-cell--6-col inline-title">Email</h2>
            <span class="mdl-cell mdl-cell--6-col">{{email}}</span>
        </div>
        <div class="mdl-cell mdl-cell--12-col">
            <h2 class="mdl-cell mdl-cell--6-col inline-title">UID</h2>
            <span class="mdl-cell mdl-cell--6-col">{{uid}}</span>
        </div>
    </div>
<div class="mdl-layout-spacer"></div>