{{setTitle name}}
<div class="mdl-layout-spacer"></div>
    <div class="mdl-cell mdl-grid mdl-cell--8-col">
        <div  class="mdl-cell mdl-cell--12-col">
        <div class="mdl-layout-spacer"></div>
        <img class="mdl-cell mdl-grid mdl-cell--4-col" src="{{image}}">
        <div class="mdl-layout-spacer"></div>
        </div>
        <div class="mdl-cell mdl-cell--12-col">
        <h2>Name</h2><span>{{name}}</span>
        </div>
        <div class="mdl-cell mdl-cell--12-col">
        <h2>Provider</h2><span>{{provider}}</span>
        </div>
        <div class="mdl-cell mdl-cell--12-col">
        <h2>Email</h2><span>{{email}}</span>
        </div>
        <div class="mdl-cell mdl-cell--12-col">
        <h2>UID</h2><span>{{uid}}</span>
        </div>
    </div>
<div class="mdl-layout-spacer"></div>