{{setTitle "Users"}}
{{#each users}}
<div class="demo-card-wide mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col">
    <div class="mdl-card__title card-title" data-background="{{image}}"></div>
    <div class="mdl-card__supporting-text">
        {{name}}
    </div>
    <div class="mdl-card__supporting-text">
        {{email}}[{{provider}}]
    </div>
</div>
{{/each}}